body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

svg {
  display: block;
}

.grid line {
  stroke: #303030;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  stroke: #606060;
}

.axis text {
  fill: #808080;
}

.axis-label {
  fill: #A0A0A0;
  font-size: 14px;
}